body, h1, h2, h3, h4, h5, h6, p, a, span, ul, li {
	margin:0px;
	padding:0px;
}
.moja {
	background : #ccc;
	color: #fff;
	text-align: center;
	height: 100%;
	width:100%;
}
.moja h1 {
	font-size: 166px;
	text-shadow: 2px 3px 1px #000;
}
.moja h2 {
	font-size: 100px;
	color:red;
	text-shadow: 2px 3px 1px #000;
}